@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start Code*/
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #F2F2F2;
    max-width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "details"
    "ingredients"
    "directions"
    "aside"
    "footer";
}
header {
    grid-area: header;
    padding-top: 180px;
}
header img {
    width: 100%;
}

header h1{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p, a {
    font-size: 1em;
}
menu{
    display: flex;
    justify-content:space-evenly;
    margin: 20px;
    margin-left: 0;
    list-style: none;
    
}
menu li a{
    list-style: none;
    text-decoration: none;
    display: grid;
    font-size: 1em;
    color: #EB5428;
   
}
.tacos img{
    width: 83.5%;
    display: flex;
   
}
 .tacos p{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;  
    margin:  10px;
    margin-left: 0;
    padding-right: 75px;
    padding-left: 10px;   

}
.details{
    display: block;
    margin:  10px;
   
}
.details h2{
    display: flex;
    width: 100%; 
    justify-content: center;
    font-size: 1.5em;    

}
.details ul{
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: center; 
    padding-left: 10px;  

}
.details ul li span{
    font-weight: bold; 

}
.ingredients{
    display: flex; 
    flex-direction: column;
    margin:  10px;
}
.ingredients h2{
    display: flex; 
    justify-content: center;
    font-weight: bold;

}
.ingredients ul{
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: center; 
    padding-left: 10px;  
    list-style-type: inherit;
     margin-left: 10px;
}
.directions{
    display: block; 
    margin-left: 20px; 
    margin-top: 10px;  
    margin-bottom: 10px; 
   
}
.directions h2{
    display: flex; 
    justify-content: center;
    font-weight: bold;
}
.directions ol{
    display: flex;
    flex-direction: column;
    padding-right: 100px;    
    margin-left: 10px; 
    padding-top: 10px;   
    list-style: decimal;
    
}

.side-dishes{
    display: flex;
    flex-direction: column;
}
.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
}