@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start Code*/
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #F2F2F2;
    max-width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "details"
    "ingredients"
    "directions"
    "aside"
    "footer";
    max-width: 414px;
}
header {
    grid-area: header;
    padding-top: 180px;
}
header img {
    width: 100%;
}

header h1{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p, a {
    font-size: 1em;
}
menu{
    display: flex;
    justify-content:space-evenly;
    max-width: 414px;
    margin: 20px;
    margin-left: 0;
    list-style: none;
    
}
menu li a{
    list-style: none;
    text-decoration: none;
    display: grid;
    font-size: 1em;
    color: #EB5428;
   
}
.tacos img{
    max-width: 414px;
    display: flex;
   
}
 .tacos p{
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column; 
    max-width: 414px; 
    margin:  10px;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;   

}
.details{
    display: flex;
    flex-direction: column; 
    max-width:414px;
    margin:  10px;
    align-items: center;
   
}
.details h2{
    display: flex;
    max-width: 414px; 
    justify-content: center;
    font-size: 1.5em;    

}
.details ul{
    display: flex;
    flex-direction: column;
    max-width: 414px; 
    justify-content: center; 
    padding-left: 10px;  

}
.details ul li span{
    font-weight: bold; 

}
.ingredients{
    display: flex; 
    flex-direction: column;
    max-width: 414px;
    margin:  10px;
}
.ingredients h2{
    display: flex; 
    max-width: 414px; 
    justify-content: center;
    font-weight: bold;

}
.ingredients ul{
    display: flex;
    flex-direction: column;
    max-width: 414px; 
    justify-content: center; 
    padding-left: 10px;  
    list-style-type: inherit;
    margin-left: 10px;
}
.directions{
    
    margin-left: 20px; 
    margin-top: 10px;  
    margin-bottom: 10px;  
    display: flex;
    flex-direction: column;
    max-width: 414px; 
    justify-content: center; 
    margin-left: 20px; 
    margin-top: 10px;  
    margin-bottom: 10px; 
   
}
.directions ol li{
    margin-bottom: 10px; 
}
.directions h2{
    display: flex; 
    justify-content: center;
    max-width: 414px;
    font-weight: bold;
}
.directions ol{
    display: flex;
    flex-direction: column;
    padding-right: 100px;    
    margin-left: 10px; 
    padding-top: 10px;   
    list-style: decimal;
    
}

.side-dishes{
    display: flex;
    flex-direction: column;
    max-width: 414px;
    background-color:#7ABFBF;
    padding:  10px;
}
.side-dishes h2{
    display: flex; 
    max-width: 414px;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.wrapper{
    display:grid;
    max-width: 414px;
    grid-template-columns: 1fr 2fr;
    justify-content:flex-start;

}
.wrapper img{
    width: 100%;
    margin: 10px;  
}
.wrapper .text{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 10px;
    padding-left: 10px;
   
    
    
}
.wrapper .text h3{
    font-weight: bold;
}
.wrapper .text p:nth-child(3){
    font-weight: bold;
}


.star svg:nth-child(n+1){
    fill: #EB5428;
}
.star svg:nth-child(5){
    fill:#F2F2F2;
    ;
}
.star2 svg:nth-child(n+1){
    fill: #EB5428;
}
nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    max-width: 414px;
    border-bottom:2px solid  #0D0D0D;
}
nav div {
    flex: 0 0 100px;
    /* width: calc(100% / 3); */
   
   
   
}
nav .menu{
    order: 0; 
    width: 25% ;
    margin-left: 10px; 
}
nav .logo{
    order: 1;
    width: 50%;  
    background-color: #EB5428;
    
}
nav .login {
    order: 3;
    width: 25%;  
    
}

.login svg{
    fill:#EB5428; ;
}
 .login a{
    display: grid;
    list-style: none;
    text-decoration: none;
    font-size: 1em;
    color: #0D0D0D;
}
nav h2{
    display: none;
   
}
nav ul{
    max-height: 0;
    overflow: hidden;
  }
 nav input:checked ~ ul {
    max-height: 500px;
  }
  nav input {
    display: none;
  }
	
 form{
    display: flex;
    position: absolute;
    max-width: 414px;
    top: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
 }
form label {    
    display: none;
  }
  
 form input,form label {
    margin: 0.4rem 0;
  }
  footer{
    max-width: 414px;
  }
  footer h2 {
    display: none;
  }
  .social-media{
    display: flex;
    justify-content:space-evenly;
    max-width: 414px;
    margin: 20px;
    margin-left: 0;
  }
  .social-media  a{
    list-style: none;
    text-decoration: none;
    display: grid;
    max-width: 414px;
    font-size: 1em;
    color: #EB5428;
   
}
.Taco-cheesington {
    display: grid; 
    max-width: 414px;   
    grid-template-columns: 1fr; 
    justify-content: center;
    align-content: center;
    align-items: center;
    /* margin-left: 50px; */

}
.Taco-cheesington  img{
    display: flex;
    grid-row: 1;
    max-width: 50%;
    height: auto;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
   

}
.Taco-cheesington  small{
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bold; 
    

}

